*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#e5e7eb;   
}


.header{
    background:linear-gradient(90deg,#4f46e5,#6366f1);
    color:white;
    padding:35px 60px;
}

.header h1{
    font-size:30px;
    font-weight:600;
}

.header p{
    margin-top:6px;
    opacity:0.95;
    font-size:15px;
}


.container{
    max-width:1050px;
    margin:40px auto;
    padding:10px;
}


.card{
    background:#f9fafb;  
    padding:25px 30px;
    border-radius:14px;
    box-shadow:0 8px 20px rgba(0,0,0,0.05);
    margin-bottom:25px;
}

.card h3{
    font-size:22px;
    margin-bottom:15px;
    color:#4338ca;
}

.card h4{
    font-size:18px;
    margin-bottom:15px;
    color:#374151;
}


.intro-card{
    background:#f3f4f6;
}


.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}


.kpi-number{
    font-size:44px;
    font-weight:700;
    color:#16a34a;
}


.chart-box{
    position: relative;
    height: 220px;   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



canvas{
    width:100% !important;
    height:100% !important;
}


.footer{
    text-align:center;
    padding:25px;
    margin-top:40px;
    color:#6b7280;
    font-size:14px;
}
