/* Hero Section */

.about-hero{
    text-align:center;
    padding:90px 20px;
    background: linear-gradient(135deg,#3b4cca,#6678ff);
    color:white;
}

.about-hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.about-hero p{
    max-width:750px;
    margin:auto;
    font-size:18px;
    line-height:1.7;
}



/* Mission Section */

.mission-section{
    text-align:center;
    padding:70px 20px;
    background:#eef1ff;
}

.mission-section h2{
    font-size:30px;
    margin-bottom:20px;
    color:#2d2f5f;
}

.mission-section p{
    max-width:750px;
    margin:auto;
    font-size:17px;
    color:#444;
}



/* Features Section */

.features-section{
    padding:90px 40px;
    background:linear-gradient(135deg,#eef1ff,#dfe5ff);
    text-align:center;
}

.features-section h2{
    font-size:32px;
    margin-bottom:40px;
    color:#2c2f6b;
}



/* Feature Cards */

.feature-card{
    background:white;
    padding:30px;
    border-radius:12px;
    border-top:5px solid #3b4cca;
    box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

.feature-card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

.feature-card{
    background:linear-gradient(145deg,#ffffff,#f0f2ff);
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.feature-card p{
    margin-top:10px;
    color:#555;
    line-height:1.5;
}

.feature-card h3{
    color:#3b4cca;
}


/* Team Section */

.team-section{
    padding:80px 20px;
    background:#f6f8ff;
    text-align:center;
}

.team-section h2{
    font-size:30px;
}



/* Team Cards */

.team-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.team-card{
    background:white;
    padding:30px;
    width:240px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.team-card h3{
    color:#3b4cca;
}

.team-card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}